<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bingoogol.tabhost"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="cn.bingoogol.tabhost.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="cn.bingoogol.tabhost.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.bingoogol.tabhost.ui.activity.HorizontalActivity" />
        <activity android:name="cn.bingoogol.tabhost.ui.activity.VerticalActivity" />
        <activity android:name="cn.bingoogol.tabhost.ui.activity.CommunicationActivity" />
        <activity android:name="cn.bingoogol.tabhost.ui.activity.WeixinActivity" />
    </application>

</manifest>